body *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Tahoma;
}

.container{
    width: 300px;
    text-align: center;
    justify-content: center;
}

.glowna{
    height: 100px;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid hsl(240, 50%, 50%);
}
